In [55]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [56]:
%sql postgresql://user:user@localhost:5432/postgres

In [57]:
%%sql
SELECT COUNT(*) FROM reddit_comments;

 * postgresql://user:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "reddit_comments" does not exist
LINE 1: SELECT COUNT(*) FROM reddit_comments;
                             ^

[SQL: SELECT COUNT(*) FROM reddit_comments;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [58]:
%%sql
SELECT COUNT(*) FROM git_metadata;

 * postgresql://user:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "git_metadata" does not exist
LINE 1: SELECT COUNT(*) FROM git_metadata;
                             ^

[SQL: SELECT COUNT(*) FROM git_metadata;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [59]:
%%sql
SELECT COUNT(*) FROM test_reddit_comments;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(1000,)]

In [60]:
%%sql
SELECT COUNT(*) FROM test_git_metadata;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(15,)]

In [61]:
%%sql
UPDATE test_git_metadata gm,
( (SELECT regexp_matches(email, '([^@]+)'  )) as VALUE FROM gm WHERE VALUE IS NOT NULL AND VALUE != '' ) gm1
SET gm.email_username = gm1.VALUE
WHERE gm.index = gm1.index

 * postgresql://user:***@localhost:5432/postgres
(psycopg2.errors.SyntaxError) syntax error at or near ","
LINE 1: UPDATE test_git_metadata gm, ( (SELECT regexp_matches(email,...
                                   ^

[SQL: UPDATE test_git_metadata gm, ( (SELECT regexp_matches(email, '([^@]+)'  )) as VALUE FROM gm WHERE VALUE IS NOT NULL AND VALUE != '' ) gm1
SET gm.email_username = gm1.VALUE
WHERE gm.index = gm1.index]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [62]:
%%sql
Insert into test_git_metadata (username_something)
( SELECT (SELECT regexp_matches(author_email, '([^@]+)'  )) FROM test_git_metadata )

 * postgresql://user:***@localhost:5432/postgres
(psycopg2.errors.UndefinedColumn) column "username_something" of relation "test_git_metadata" does not exist
LINE 1: Insert into test_git_metadata (username_something)
                                       ^

[SQL: Insert into test_git_metadata (username_something)
( SELECT (SELECT regexp_matches(author_email, '([^@]+)'  )) FROM test_git_metadata )]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [63]:
%%sql
ALTER TABLE test_git_metadata
ADD test001 TEXT;

 * postgresql://user:***@localhost:5432/postgres
Done.

[]

In [64]:
%%sql
UPDATE test_git_metadata 
SET test001 = author_email;

 * postgresql://user:***@localhost:5432/postgres
15 rows affected.

[]

In [94]:
%%sql
select * from test_git_metadata LIMIT(5);

 * postgresql://user:***@localhost:5432/postgres
5 rows affected.

[(0, '52673790+SwipeDevelopment@users.noreply.github.com', 'SwipeDevelopment', 4, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{52673790+SwipeDevelopment}'),
 (1, '60588151+brightdev33@users.noreply.github.com', 'brightdev33', 1, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{60588151+brightdev33}'),
 (2, '68727455+gryincent@users.noreply.github.com', 'gryincent', 25, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{68727455+gryincent}'),
 (3, 'admin@swipe.io', 'SwipeDevelopment', 1, 'https://github.com/VenusProtocol/Venus-Protocol', '{swipe.io}', '{admin}'),
 (4, 'blockplus.dev@gmail.com', 'blockplus', 15, 'https://github.com/VenusProtocol/Venus-Protocol', '{gmail.com}', '{blockplus.dev}')]

In [66]:
%%sql
UPDATE test_git_metadata 
SET test001 = (
    (SELECT regexp_matches(test_git_metadata.author_email, '@(.*)'  ))
);

 * postgresql://user:***@localhost:5432/postgres
15 rows affected.

[]

In [67]:
%%sql
SELECT regexp_matches(test001, '@(.*)'  )

 * postgresql://user:***@localhost:5432/postgres
(psycopg2.errors.UndefinedColumn) column "test001" does not exist
LINE 1: SELECT regexp_matches(test001, '@(.*)' )
                              ^

[SQL: SELECT regexp_matches(test001, '@(.*)' )]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [95]:
%%sql
SELECT * FROM test_git_metadata limit(5);

 * postgresql://user:***@localhost:5432/postgres
5 rows affected.

[(0, '52673790+SwipeDevelopment@users.noreply.github.com', 'SwipeDevelopment', 4, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{52673790+SwipeDevelopment}'),
 (1, '60588151+brightdev33@users.noreply.github.com', 'brightdev33', 1, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{60588151+brightdev33}'),
 (2, '68727455+gryincent@users.noreply.github.com', 'gryincent', 25, 'https://github.com/VenusProtocol/Venus-Protocol', '{users.noreply.github.com}', '{68727455+gryincent}'),
 (3, 'admin@swipe.io', 'SwipeDevelopment', 1, 'https://github.com/VenusProtocol/Venus-Protocol', '{swipe.io}', '{admin}'),
 (4, 'blockplus.dev@gmail.com', 'blockplus', 15, 'https://github.com/VenusProtocol/Venus-Protocol', '{gmail.com}', '{blockplus.dev}')]

In [69]:
%%sql
SELECT (SELECT regexp_matches(author_email, '([^@]+)'  )) FROM test_git_metadata;

 * postgresql://user:***@localhost:5432/postgres
15 rows affected.

[(['52673790+SwipeDevelopment'],),
 (['60588151+brightdev33'],),
 (['68727455+gryincent'],),
 (['admin'],),
 (['blockplus.dev'],),
 (['brightdev33'],),
 (['chabanandrii9'],),
 (['defipool'],),
 (['fengliu93sun'],),
 (['growlot.71'],),
 (['grygoriy'],),
 (['jav.ramosmx'],),
 (['kkirka'],),
 (['thomas'],),
 (['“fengliu93sun'],)]

In [74]:
%%sql
SELECT url, COUNT(*) FROM test_reddit_comments GROUP BY url;

 * postgresql://user:***@localhost:5432/postgres
8 rows affected.

[(None, 909),
 ('{https://github.com/riftcrystal/DDON-Translation/releases}', 13),
 ('{https://www.reddit.com/r/legaladvice/wiki/landlord)}', 13),
 ('{https://pecuniaresearch.com/}', 13),
 ('{http://bioshock.wikia.com/wiki/BioShock:_Rapture_(Novel)}', 13),
 ('{https://www.reuters.com/article/us-northkorea-missiles-russia-oil-exclus/exclusive-russian-tankers-fueled-north-korea-via-transfers-at-sea-sources-idUSKBN1EN1OJ}', 13),
 ('{https://www.nhs.uk/Livewell/penis-health/Pages/how-to-wash-a-penis.aspx)}', 13),
 ('{https://youtu.be/0ufrBwNDWts}', 13)]

In [90]:
%%sql
SELECT url, COUNT(*) FROM test_reddit_comments GROUP BY url;

 * postgresql://user:***@localhost:5432/postgres
8 rows affected.

[('{https://www.reddit.com/r/legaladvice/wiki/landlord)}', 13),
 ('{https://github.com/riftcrystal/DDON-Translation/releases}', 13),
 ('{https://www.nhs.uk/Livewell/penis-health/Pages/how-to-wash-a-penis.aspx)}', 13),
 (None, 909),
 ('{https://pecuniaresearch.com/}', 13),
 ('{http://bioshock.wikia.com/wiki/BioShock:_Rapture_(Novel)}', 13),
 ('{https://youtu.be/0ufrBwNDWts}', 13),
 ('{https://www.reuters.com/article/us-northkorea-missiles-russia-oil-exclus/exclusive-russian-tankers-fueled-north-korea-via-transfers-at-sea-sources-idUSKBN1EN1OJ}', 13)]

In [86]:
%%sql
select url, domainname from test_reddit_comments LIMIT(3);

 * postgresql://user:***@localhost:5432/postgres
3 rows affected.

[('{https://pecuniaresearch.com/}', '{pecuniaresearch.com}'),
 ('{https://pecuniaresearch.com/}', '{pecuniaresearch.com}'),
 ('{https://pecuniaresearch.com/}', '{pecuniaresearch.com}')]

In [88]:
%%sql
select email_domain from test_git_metadata LIMIT(3);

 * postgresql://user:***@localhost:5432/postgres
3 rows affected.

[('{users.noreply.github.com}',),
 ('{users.noreply.github.com}',),
 ('{users.noreply.github.com}',)]

In [97]:
%%sql
select domainname, url from reddit_comments where url != '' limit(5);

 * postgresql://user:***@localhost:5432/postgres
5 rows affected.

[('i.imgur.com', '{https://i.imgur.com/xZjFMOk.jpg)}'),
 ('time.com', '{http://time.com/money/4876268/donald-trump-salary-donation-department-of-education/}'),
 ('twitter.com', '{https://twitter.com/ligero_miguel/status/947960707773030402)}'),
 ('www.reddit.com', '{https://www.reddit.com/r/JUSTNOMIL/wiki/directory)}'),
 ('m.reebok.com', '{http://m.reebok.com/us/classic-leather/49797.html}')]

In [103]:
%%sql
select DISTINCT(domainname) from reddit_comments where domainname LIKE '%github.com%';

 * postgresql://user:***@localhost:5432/postgres
4 rows affected.

[('gist.github.com',),
 ('github.com',),
 ('help.github.com',),
 ('www.github.com',)]

In [110]:
%%sql
select DISTINCT(domainname) from reddit_comments where domainname = 'github.com';

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[('github.com',)]

In [109]:
%%sql
select DISTINCT(email_domain) from git_metadata where email_domain like '%github.com%';

 * postgresql://user:***@localhost:5432/postgres
7 rows affected.

[('{github.com}',),
 ('{users.noreply.github.com”}',),
 ('{users.no.reply.github.com}',),
 ('{users.noreply.github.com}',),
 ('{gmail.com@users.noreply.github.com”}',),
 ('{@users.noreply.github.com}',),
 ('{noreply.github.com}',)]

In [111]:
%%sql
select DISTINCT(email_domain) from git_metadata where email_domain = 'github.com';

 * postgresql://user:***@localhost:5432/postgres
0 rows affected.

[]

In [117]:
%%sql
SELECT reddit_comments.domainname, reddit_comments.url, git_metadata.author_email 
    FROM reddit_comments JOIN git_metadata 
    ON reddit_comments.domainname = git_metadata.email_domain 
    LIMIT(10);

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[('{instagram.com}', '{https://instagram.com/p/BdFLrQKnBEZ/)}', 'shayne@instagram.com'),
 ('{instagram.com}', '{https://instagram.com/p/BdFLrQKnBEZ/)}', 'martin@instagram.com'),
 ('{instagram.com}', '{https://instagram.com/p/BdFLrQKnBEZ/)}', 'blom@instagram.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'voyageice@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'huzhenyuan@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'voyageice@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'huzhenyuan@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'hutchin@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'voyageice@github.com'),
 ('{github.com}', '{https://github.com/docker/kitematic/issues/2323}', 'huzhenyuan@github.com')]

In [118]:
%%sql
SELECT DISTINCT(reddit_comments.domainname) 
    FROM reddit_comments JOIN git_metadata 
    ON reddit_comments.domainname = git_metadata.email_domain 
    LIMIT(10);

 * postgresql://user:***@localhost:5432/postgres
10 rows affected.

[('{amazon.com}',),
 ('{ark.io}',),
 ('{augur.net}',),
 ('{binance.com}',),
 ('{bitso.com}',),
 ('{dogecoin.com}',),
 ('{dss.co}',),
 ('{freenetproject.org}',),
 ('{getmonero.org}',),
 ('{github.com}',)]

In [120]:
%%sql
SELECT COUNT((reddit_comments.domainname))
    FROM reddit_comments JOIN git_metadata 
    ON reddit_comments.domainname = git_metadata.email_domain 
    LIMIT(10);

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(17508,)]

In [116]:
%%sql
SELECT COUNT(DISTINCT(reddit_comments.domainname))
    FROM reddit_comments JOIN git_metadata 
    ON reddit_comments.domainname = git_metadata.email_domain ;

 * postgresql://user:***@localhost:5432/postgres
1 rows affected.

[(35,)]